.row.margin-below
  .col-xs-12.text-center
    = image_tag 'vegetables_edit.png', style: 'width: 100%;'
= form_for(:session, url: login_path) do |f|
  .hidden-xs.col-sm-3
  .col-sm-6
    .row
      .col-xs-12
        = f.email_field :email, placeholder: 'Email', class: 'form-control'
      .col-xs-12
        = f.password_field :password, placeholder: 'Passwort', class: 'form-control'
      .col-xs-12
        = f.submit "Ab geht's", class: "btn btn-primary"
      .col-xs-12.text-center
        %h1 Willkommen beim Bietverfahren der CSA Basta
        %h3 Einloggen oder #{link_to "hierhin", register_path} zum registrieren
