.row
  .col-xs-12
    %h1 Stations

- @stations.each do |station|
  .row
    .col-xs-12
      %h2
        = station.name
        = link_to 'x', station_path(station), method: 'delete', data: { confirm: 'Wirklich gesamte Station löschen?' }
      - station.groups.each do |group|
        = link_to group.name + ' | ', group_path(group)
  .row
    = form_for([station, station.groups.build]) do |f|
      .col-md-6
        = f.text_field :name, placeholder: 'Name', class: 'form-control'
      .col-md-4
        = button_tag('Hinzufügen', type: 'submit', class: 'btn btn-success')

.row
  .col-xs-12
    %hr

.row
  .col-xs-12
    %h2 Neue Abholstation
  = form_for(@station) do |f|
    .col-md-6
      = f.text_field :name, placeholder: 'Name', class: 'form-control'
    .col-md-4
      = button_tag('Hinzufügen', type: 'submit', class: 'btn btn-success')
