.row
  .col-xs-12
    %h1 Stations

- @stations.each do |station|
  .row
    .col-xs-12
      %h2
        = station.name + ' (' + station.amount.to_s + '€)'
        = link_to 'x', station_path(station), method: 'delete', data: { confirm: 'Wirklich gesamte Station löschen?' }
    - station.groups.each do |group|
      .col-xs-12.margin-below
        = link_to group.name, group_path(group)
        %span.label.label-default
          = ' (' + group.shares_count.to_s + ' / 10 Ernteanteile für insgesamt ' + group.amount.to_s + '€)'
  .row
    = form_for([station, station.groups.build]) do |f|
      .col-md-6
        = f.text_field :name, placeholder: 'Name', class: 'form-control'
      .col-md-4
        = button_tag('Hinzufügen', type: 'submit', class: 'btn btn-success')
  .row
    .col-xs-12
      %hr

.row
  .col-xs-12
    %h3 Neue Abholstation
  = form_for(@station) do |f|
    .col-md-6
      = f.text_field :name, placeholder: 'Name', class: 'form-control'
    .col-md-4
      = button_tag('Hinzufügen', type: 'submit', class: 'btn btn-success')
