.row
  .col-xs-12
    %h1= @station.name
  .col-xs-12
    - @groups.each do |group|
      = link_to group.name, group_path(group)
      %br

.row
  = form_for([@station, @station.groups.build]) do |f|
    .col-xs-8
      = f.text_field :name, placeholder: 'Name', class: 'form-control'
    .col-xs-4
      = button_tag('Speichern', type: 'submit', class: 'btn btn-success')
