#agreement-modal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h3.modal-title Vereinbarung

      .modal-body
        .col-xs-12.margin-below
          %h4.blue
            = f.check_box :agreed
            .checkbox-text
              Ich habe die
              = link_to 'Vereinbarung gelesen', '/manifestino_2019.pdf', target: '_blank'
              und versichere, dass meine Angaben der Wahrheit entsprechen

          %h4.blue
            = f.check_box :agreed
            .checkbox-text
              Mir ist bewusst, dass die Mitgliedschaft für das Kalenderjahr 2018 gilt und nur in AUSNAHMEFÄLLEN ZWEI MONATEN im Voraus gekündigt werden kann. Innerhalb dieser Kündigungsfrist bzw. bis der Anteil weitergegeben wurde, ist das Mitglied für die Zahlung verantwortlich. Wird die Mitgliedschaft nicht bis Ende Oktober gekündigt, verlängert sie sich automatisch für die nächste Saison.

          %h4.blue
            = f.check_box :agreed
            #calculated-offers.checkbox-text

      .modal-footer
        = button_tag 'Absenden', type: 'submit', class: 'btn btn-success share-update-submit'
