.row
  .col-xs-12.text-center.margin-below
    %h1 Ernteanteil registrieren

= form_for(@share) do |f|
  .row
    .col-xs-12.margin-below
      In welcher Bezugsgruppe bist du?
      = f.select :group_id, @group_selection, {prompt: "Bitte wählen"}, {class: "form-control"}
    .col-xs-12.margin-below
      Vor- und Nachname
      = f.text_field :name, placeholder: 'Name', class: 'form-control'
    .col-sm-6.margin-below
      Für wieviele Ernteanteile bietest du?
      = f.select :size, @share.size_selections, {prompt: "Bitte wählen"}, {class: "form-control"}
    .col-sm-6.margin-below
      Wieviel Monate möchtest du im Voraus bezahlen?
      = f.select :payment, [1, 3, 12], {prompt: "Bitte wählen"}, {class: "form-control"}
    .col-xs-12.margin-below
      Emaildresse
      = f.email_field :email, placeholder: 'Email', class: 'form-control'
    .col-sm-6.margin-below
      Passwort
      = f.password_field :password, class: 'form-control'
    .col-sm-6.margin-below
      Password wiederholen
      = f.password_field :password_confirmation, class: 'form-control'        
    .col-xs-12.margin-below
      = f.label :agreed do
        = f.check_box :agreed
        Ich habe die
        = link_to 'Vereinbarung gelesen', '/basta_vereinbarung_2016.pdf', target: '_blank'
        und versichere, dass meine Angaben der Wahrheit entsprechen
    = f.hidden_field :no_help, value: false
    .col-xs-12
      = f.submit "Ab geht's", class: "btn btn-success"
