.row
  .col-xs-12
    %h1 Details zu eurem Ernteanteil
    Angaben können nachträglich jederzeit geändert werden
    %hr
    %h3 Bitte lesen!
    %br
    %h4
      Hast du die
      = link_to 'Vereinbarung für das Jahr 2020', '/manifestino_2020.pdf'
      gründlich gelesen?
    %h4
    %h4
      Bist du über die Inhalte des aktuellen
      = link_to 'Finanzplans', '/Finanzplan_2020.pdf'
      gut informiert?
    %h4
      Weißt du, wie das
      = link_to 'Bietverfahren', 'https://csa-basta.org/basta/content/bietverfahren'
      läuft und worauf du bietest?
    %h4{style: 'font-style: italic; color: grey'}
      Ja, ja... aber ich hab keine Zeit diese ganze Geschichte zu lesen, sag mal: was ist der Preis?
    %h4
      Es gibt nicht DEN Preis! Wenn das Durchschnittsgebot bei 95,04€ liegt, dann ist der Finanzplan gedeckt.

.row
  .col-xs-12
    %hr

.row
  .col-xs-12
    %h3 Hauptkontakt

= form_for(@share) do |f|
  .row.margin-below
    .col-xs-6.col-md-3
      %b= f.text_field :name, placeholder: 'Name', class: 'form-control'
    .col-xs-6.col-md-3
      %b= f.text_field :email, placeholder: 'Email', class: 'form-control'
    .col-xs-6.col-md-3
      %b= f.text_field :telephone, placeholder: 'Telefon', class: 'form-control'
    .col-xs-6.col-md-3
      = button_tag 'Speichern', type: 'submit', class: 'btn btn-success'

.row
  .col-xs-12
    %h3 Alle weiteren Mitglieder
- if @share.members.count == 0
  .margin-below
    Bitte tragt alle weiteren Menschen ein, die sich von euerm Ernteanteil ernähren
- else
  - @share.members.each do |m|
    .row
      .col-xs-6.col-md-3
        %b= m.name
      .col-xs-6.col-md-3
        = m.email
      .col-xs-6.col-md-2
        = m.telephone
      .col-xs-6.col-md-2
        = 'tätigt Überweisungen' if m.moneymaker
      .col-xs-6.col-md-2.margin-below.pull-right
        = link_to 'Löschen', member_path(m.id, share_id: @share.id), method: 'delete', data: { confirm: 'Wirklich Mitglied löschen?' }

.row.margin-below
  = form_for([@share, @share.members.build]) do |mf|
    .col-xs-12{style: 'font-style: italic; color: grey'}
      Es geht uns nicht ums Datensammeln, sondern um die Erreichbarkeit. Gebt also ruhig Spitznamen oder ein Alias an.
    .col-md-3
      = mf.text_field :name, placeholder: 'Name', class: 'form-control'
    .col-md-3
      = mf.text_field :email, placeholder: 'Email', class: 'form-control'
    .col-md-2
      = mf.text_field :telephone, placeholder: 'Telefon', class: 'form-control'
    .col-md-2
      = mf.check_box :moneymaker
      tätigt die Überweisungen
    .col-md-2
      = button_tag('Mitglied hinzufügen', type: 'submit', class: 'btn btn-success')

= form_for(@share) do |f|

  .row
    .col-xs-12
      = f.check_box :moneymaker
      Ich als Hauptkontakt (
      = @share.name
      ) tätige die Überweisungen

  .row
    .col-xs-12
      = f.check_box :super_moneymaker
      Wir tätigen die Überweisungen für die komplette Bezugsgruppe (alle Ernteanteile)

  .row
    .col-xs-12
      %hr

  .row
    .col-xs-12
      %h3 Pflichtangaben
      Gesamtgebote pro Monat für eure Ernteanteile (wenn ihr z.B. 220€ für 2.0 Anteile eingebt, entspricht das 110€ pro Anteil)
  - if admin? || current_share?
    .row.margin-below
      .col-md-4
        = f.text_field :offer_minimum, placeholder: '1. Gebot', class: 'form-control offer-field', disabled: !@settings.offer_minimum_active && @share.offer_minimum.present?
      .col-md-4
        = f.text_field :offer_medium, placeholder: '2. Gebot', class: 'form-control offer-field', disabled: !@settings.offer_medium_active && @share.offer_medium.present?
      .col-md-4
        = f.text_field :offer_maximum, placeholder: '3. Gebot', class: 'form-control offer-field', disabled: !@settings.offer_maximum_active && @share.offer_maximum.present?
  .row
    .col-sm-3.margin-below
      Anzahl der Ernteanteile
      = f.select :size, options_for_select(@share.size_selections, selected: @share.size), {}, { class: 'form-control' }
  .row
    .col-xs-12
      %hr

  .row
    .col-xs-12
      %h3 Folgende Angaben würden uns sehr bei der weiteren Planung helfen
    .col-xs-6.margin-below
      Wieviele Tage könnt ihr voraussichtlich im kommenden Jahr bei Basta helfen?
      = f.text_field :land_help_days, placeholder: 'Anzahl in Tagen', class: 'form-control'
    .col-xs-6.margin-below
      Mit welchen Fähigkeiten oder Tools könntet ihr aushelfen?
      = f.text_field :skills, placeholder: 'z.B. Grafikdesign-Kenntnisse, ökologisches, ökonomisches oder juristisches Fachwissen, Kettensäge...', class: 'form-control'
    .col-xs-12
      %h4
        In welchen AG's werdet ihr euch 2020 beteiligen?
        = link_to ' Hier', 'https://csa-basta.org/basta/arbeitsgruppen'
        kannst du die AGs kontaktieren.
  .row
    = f.collection_check_boxes :workgroup_ids, Workgroup.all, :id, :name do |w|
      .col-sm-4
        = w.check_box
        = w.text
    .col-xs-12.margin-below
      = f.check_box :no_help
      Wir können uns im kommenden Jahr leider nicht über die
      %span.minimum-participation-button.blue Mindestanforderungen
      hinaus beteiligen

  .row
    .col-xs-12
      %hr

  .row
    .col-xs-12
      %h3 Feedback zum Bietverfahren
    .col-xs-12.margin-below
      = f.text_area :feedback, class: 'form-control'

  - if @share.updated_at < Time.parse('2018-11-24')
    .row.margin-below
      .col-xs-12
        = render 'shared/privacy'

  .row
    .col-xs-12
      = render 'agreement_modal', f: f
      %button.btn.btn-success.show-agreement-button{type: 'button'} weiter
