.row
  .col-xs-12
    %h1
      = @share.name

  .col-sm-12
    %h3 Gebote
    = form_for(@share) do |f|
      .row.margin-below
        .col-xs-4.no-padding-right
          = f.text_field :offer_minimum, placeholder: 'Minimal', class: 'form-control offer-field green-bg'
        .col-xs-4.no-padding-right.no-padding-left
          = f.text_field :offer_medium, placeholder: 'Medium', class: 'form-control offer-field yellow-bg'
        .col-xs-4.no-padding-left
          = f.text_field :offer_maximum, placeholder: 'Maximal', class: 'form-control offer-field red-bg'
      %h3 Infos
      .row
        .col-xs-12
          = f.text_field :name, placeholder: 'Name', class: 'form-control'
      .row
        .col-xs-12
          = f.text_field :size, placeholder: 'Size', class: 'form-control'
      .row
        .col-xs-12
          = f.text_field :members, placeholder: 'Mitglieder', class: 'form-control'
      .row
        .col-xs-12
          = button_tag 'Speichern', type: 'submit', class: 'btn btn-primary'
