.row
  .col-xs-12
    %h1= @share.name + ' (bezahlt ' + @share.offers.last.amount.to_s + '€)'

.row
  .col-xs-12
    %h2 Neues Gebot
= form_for([@share, @share.offers.build]) do |f|
  .row
    .col-md-6
      = f.text_field :amount, placeholder: 'Betrag', class: 'form-control'
  .row
    .col-md-6
      = button_tag('Speichern', type: 'submit', class: 'btn btn-success')

.row
  .col-xs-12
    %h2 Infos
= form_for(@share) do |f|
  .row
    .col-md-6
      = f.text_field :name, placeholder: 'Name', class: 'form-control'
  .row
    .col-md-6
      = f.text_field :members, placeholder: 'Mitglieder', class: 'form-control'
  .row
    .col-md-6
      = button_tag('Speichern', type: 'submit', class: 'btn btn-success')
