.row
  .col-xs-12
    %h1 Details zu eurem Ernteanteil

.row
  .col-xs-12
    %hr

.row
  .col-xs-12
    %h3 Mitglieder

.row.margin-below
  .col-xs-6.col-md-3
    %b= @share.name
  .col-xs-6.col-md-3
    = @share.email
  .col-xs-6.col-md-3
    = @share.telephone
  .col-xs-6.col-md-3
    %i (Hauptkontaktperson)

- @share.members.each do |m|
  .row
    .col-xs-6.col-md-3
      %b= m.name
    .col-xs-6.col-md-3
      = m.email
    .col-xs-6.col-md-3
      = m.telephone
    .col-xs-6.col-md-3.margin-below
      = link_to 'Löschen', member_path(m.id), method: 'delete', data: { confirm: 'Wirklich Mitglied löschen?' }

.row.margin-below
  = form_for([@share, @share.members.build]) do |mf|
    .col-md-3
      = mf.text_field :name, placeholder: 'Name', class: 'form-control'
    .col-md-3
      = mf.text_field :email, placeholder: 'Email', class: 'form-control'
    .col-md-3
      = mf.text_field :telephone, placeholder: 'Telefon', class: 'form-control'
    .col-md-3
      = button_tag('Mitglied hinzufügen', type: 'submit', class: 'btn btn-success')

.row
  .col-xs-12
    %hr

= form_for(@share) do |f|
  .row
    .col-xs-12
      %h3 Pflichtangaben 
      Gebote pro 1 Ernteanteil
  .row.margin-below
    .col-md-4
      = f.text_field :offer_minimum, placeholder: 'Wohlfühl', class: 'form-control offer-field green-bg', disabled: !@settings.offer_minimum_active
    .col-md-4
      = f.text_field :offer_medium, placeholder: 'Medium', class: 'form-control offer-field yellow-bg', disabled: !@settings.offer_medium_active
    .col-md-4
      = f.text_field :offer_maximum, placeholder: 'Schmerzgrenze', class: 'form-control offer-field red-bg', disabled: !@settings.offer_maximum_active
  .row
    .col-sm-6.margin-below
      Anzahl der Ernteanteile
      = f.select :size, options_for_select(@share.size_selections, selected: @share.size), {}, { class: 'form-control' }
    .col-sm-6
      Wieviel Monate möchtest du im Voraus bezahlen?
      = f.select :payment, [1, 3, 12], {prompt: "Bitte wählen"}, {class: "form-control"}
    .col-xs-12.margin-below
      %h4.blue
        = f.label :agreed do
          = f.check_box :agreed
        Ich habe die
        = link_to 'Vereinbarung gelesen', '/basta_vereinbarung_2017.pdf', target: '_blank'
        und versichere, dass meine Angaben der Wahrheit entsprechen

  .row
    .col-xs-12
      %hr

  .row
    .col-xs-12
      %h3 Folgende Angaben würden uns sehr bei der weiteren Planung helfen
    .col-xs-6.margin-below
      Wieviele Tage kannst du voraussichtlich im kommenden Jahr bei Basta helfen?
      = f.text_field :land_help_days, placeholder: 'Anzahl in Tagen', class: 'form-control'
    .col-xs-6.margin-below
      Mit welchen Fähigkeiten oder Tools könntest du aushelfen?
      = f.text_field :skills, placeholder: 'z.B. Grafikdesign-Kenntnisse, ökologisches, ökonomisches oder juristisches Fachwissen, Kettensäge...', class: 'form-control'
    .col-xs-12
      %h4 In welchen AG's werdet ihr euch 2017 beteiligen?
  .row
    = f.collection_check_boxes :workgroup_ids, Workgroup.all, :id, :name do |w|
      .col-sm-4
        = w.check_box
        = w.text
    .col-xs-12.margin-below
      = f.check_box :no_help
      Ich kann mich im kommenden Jahr leider nicht über die
      %span.minimum-participation-button.blue Mindestanforderungen
      hinaus beteiligen

  .row
    .col-xs-12
      %hr

  .row
    .col-xs-12
      %h3 Feedback zum Bietverfahren
    .col-xs-12.margin-below
      = f.text_area :feedback, class: 'form-control'
    .col-xs-12
      = button_tag 'Speichern', type: 'submit', class: 'btn btn-success'

