.row
  .col-xs-12
    %h1
      = @share.name

  .col-sm-12
    %h3 Gebote
    = form_for(@share) do |f|
      .row.margin-below
        .col-xs-4.no-padding-right
          = f.text_field :offer_minimum, placeholder: 'Wohlfühl', class: 'form-control offer-field green-bg'
        .col-xs-4.no-padding-right.no-padding-left
          = f.text_field :offer_medium, placeholder: 'Medium', class: 'form-control offer-field yellow-bg'
        .col-xs-4.no-padding-left
          = f.text_field :offer_maximum, placeholder: 'Schmerzgrenze', class: 'form-control offer-field red-bg'
      %h3 Infos
      .row
        .col-xs-12.margin-below
          Vor- und Nachname
          = f.text_field :name, placeholder: 'Name', class: 'form-control'
        .col-xs-12.margin-below
          Anzahl der Ernteanteile
          = f.text_field :size, placeholder: 'Size', class: 'form-control'
        .col-xs-12.margin-below
          Mitglieder
          = f.text_field :members, placeholder: 'Noch nichts eingetragen', class: 'form-control'
        .col-xs-12.margin-below
          Wieviele Tage kannst du voraussichtlich bei Basta helfen?
          = f.text_field :land_help_days, placeholder: 'Noch nichts eingetragen', class: 'form-control'
        .col-xs-12.margin-below
          In welcher AG würdest du dich beteiligen?
          = f.text_field :workgroup, placeholder: 'Noch nichts eingetragen', class: 'form-control'
        .col-xs-12.margin-below
          Mit welchen Fähigkeiten oder Tools könntest du aushelfen?
          = f.text_field :skills, placeholder: 'Noch nichts eingetragen', class: 'form-control'
        .col-xs-12.margin-below
          = f.label :no_help do
            = f.check_box :no_help
            Ich kann mich dieses Jahr leider nicht über die Mindestanforderungen hinaus beteiligen
        .col-xs-12
          = button_tag 'Speichern', type: 'submit', class: 'btn btn-primary'
