.row
  .col-xs-12
    %h1
      = @share.name

  .col-sm-12
    %h3 Gebote (für 1 Ernteanteil)
    = form_for(@share) do |f|
      .row.margin-below
        .col-md-4
          = f.text_field :offer_minimum, placeholder: 'Wohlfühl', class: 'form-control offer-field green-bg'
        .col-md-4
          = f.text_field :offer_medium, placeholder: 'Medium', class: 'form-control offer-field yellow-bg'
        .col-md-4
          = f.text_field :offer_maximum, placeholder: 'Schmerzgrenze', class: 'form-control offer-field red-bg'
      %h3 Pflichtangaben
      .row
        .col-xs-12.margin-below
          Vor- und Nachname
          = f.text_field :name, placeholder: 'Name', class: 'form-control'
        .col-xs-12.margin-below
          Anzahl der Ernteanteile
          = f.select :size, options_for_select(@share.size_selections, selected: @share.size), {}, { class: 'form-control' }
        .col-xs-12.margin-below
          Mitglieder
          = f.text_field :members, placeholder: 'Noch nichts eingetragen', class: 'form-control'

        .col-xs-12
          %h3 Folgende Angaben würden uns sehr bei der weiteren Planung helfen
        .col-xs-12.margin-below
          Wieviele Tage kannst du voraussichtlich im kommenden Jahr bei Basta helfen?
          = f.text_field :land_help_days, placeholder: 'Anzahl in Tagen', class: 'form-control'
        .col-xs-12.margin-below
          In welcher AG würdest du dich im kommenden Jahr beteiligen?
          = f.text_field :workgroup, placeholder: 'z.B. Finanz-AG', class: 'form-control'
        .col-xs-12.margin-below
          Mit welchen Fähigkeiten oder Tools könntest du aushelfen?
          = f.text_field :skills, placeholder: 'z.B. Grafikdesign-Kenntnisse, ökologisches, ökonomisches oder juristisches Fachwissen, Kettensäge...', class: 'form-control'
        .col-xs-12.margin-below
          = f.label :no_help do
            = f.check_box :no_help
            Ich kann mich im kommenden Jahr leider nicht über die
            = link_to 'Mindestanforderungen', '/basta_vereinbarung_2016.pdf', target: '_blank'
            hinaus beteiligen
        .col-xs-12
          = button_tag 'Speichern', type: 'submit', class: 'btn btn-primary'
