.row
  .col-xs-12
    %h1
      = @group.name + ' (' + @group.amount.to_s + '€)'
      = link_to 'x', group_path(@group), method: 'delete', data: { confirm: 'Wirklich gesamte Bezugsgruppe löschen?' }
  - @group.shares.each do |share|
    .col-xs-12
      = link_to share.name  + ' (' + share.size.to_s + ' Ernteanteile für insgesamt ' + share.amount.to_s + '€)', share_path(share)

.row
  .col-xs-12
    %hr

= form_for([@group, @group.shares.build]) do |f|
  .row
    .col-md-4
      = f.text_field :name, placeholder: 'Name', class: 'form-control'
    .col-md-2
      = f.text_field :size, placeholder: 'Anzahl', class: 'form-control'
    .col-md-4
      = button_tag('Hinzufügen', type: 'submit', class: 'btn btn-success')
