.row
  .col-xs-12
    %h1= @group.name
  .col-xs-12
    - @shares.each do |share|
      = link_to share.name + ' | ', share_path(share)
  .col-xs-12
    %hr

.row
  .col-xs-12
    %h2 Neue Bezugsgruppe
  = form_for([@group, @group.shares.build]) do |f|
    .col-xs-12
      = f.text_field :name, placeholder: 'Name', class: 'form-control'
    - 8.times do |i|
      - i += 1
      .col-xs-12
        = f.text_field :members, multiple: true, placeholder: 'Mitglied ' + i.to_s, class: 'form-control'
    .col-xs-12
      = button_tag('Speichern', type: 'submit', class: 'btn btn-success')
  .col-xs-12
    %hr

.row
  .col-xs-12
    = link_to 'Bezugsgruppe löschen', group_path(@group), method: 'delete', data: { confirm: 'Wirklich Bezugsgruppe löschen?' }
