Lieb* #{@share.name.split(' ').first},
\
mit eurem gelben Gebot von monatlich #{@share.offer_medium} Euro unterstützt ihr die Landwirtschaft auf Basta für den Zeitraum vom 1. Januar 2017 bis zum  31. Dezember 2017. Ihr bekommt dafür #{@share.size} Ernteanteil(e).
\
Mit den gelben Geboten aus dem Bietverfahren ist der Finanzplan 2017 fast gedeckt. Die Differenz von ca. 2300 Euro wird ausgeglichen durch das Plus von 2016 (Liquiditätspuffer) und die Kürzung des Budgets für Zugtickets.
\
Falls ihr während des Jahres oder am Ende des Jahres euren Ernteanteil abgeben wollt, kommuniziert das bitte unbedingt an die Willkommens-AG (willkommens-ag@lists.csa-basta.org) mit 2 Monaten Vorlauf.
\
Die Zahlung erfolgt im Voraus für #{@share.payment} Monate und wird gesammelt von eurer Bezugsgruppe überwiesen. 
\
Folgende Infos haben wir von euch bekommen:
\
Hauptkontaktperson: 
= @share.name
= @share.email
= @share.telephone
\
-if @share.members.count > 0
  zusätzliche Kontaktpersonen:
  - @share.members.each do |member|
    = member.name
    = member.email
    = member.telephone
    \
Bezugsgruppenname: 
= @share.group.name
\
Wenn sich daran etwas ändert, informiert bitte die Willkommens-AG. Falls ihr nur einen halben Anteil bezieht, achtet bitte darauf, dass wir immer auch aktuelle Kontaktdaten für den anderen Ernteanteil haben.
\
Ihr solltet die Vereinbarung (siehe Anhang) gelesen haben und die Voraussetzungen der Mindestbeteiligung erfüllen.
\
\
BITTE PASST EUREN DAUERAUFTRAG SO SCHNELL WIE MÖGLICH AN!!! MACHT GGF. EINE NACHZAHLUNG FÜR JANUAR!
\
\-------------------------------------------------------------------
\
Konto:
\------
Covelli, Jahn
Triodos Bank 
IBAN: DE82 5003 1000 1016 1840 00
BIC: TRODDEF1XXX 
\
Kontakt:
\--------
Bio e Basta GbR
Tel.: 033475145006
Email: basta@posteo.de
Bastaer Straße 10 
15324 Letschin
