Lieb* #{@share.name.split(' ').first},
\
danke dass du dich um die Überweisungen deiner Bezugsgruppe(BG) #{@share.group.name} an Basta kümmerst! Vielleicht hast du den Dauerauftrag für 2020 längst angepasst. Falls noch nicht geschehen möchten wir dich nochmal erinnern:
\
Seit Januar 2020 liegt der Gesamtbetrag eurer BG bei #{@share.group.total_offer_medium}€. Unten erhältst du eine Übersicht, die zeigt, welchen Betrag die einzelnen Ernteanteile mit ihrem gelben Gebot jeweils zahlen. Dabei hat es möglicherweise in den letzten Wochen noch kleine Veränderungen gegeben. Bitte stelle sicher, dass alle ihre Überweisungen entsprechend anpassen und ändere euren Dauerauftrag an Basta so schnell wie möglich. Mache ggf. eine Nachzahlung für Januar 2020.
\
- @share.group.shares.each do |share|
  #{share.moneymaker_name} | #{share.offer_medium}€
\
Hier noch einmal die Basta-Kontodaten:
\
Covelli, Jahn
Triodos Bank
IBAN: DE82 5003 1000 1016 1840 00
BIC: TRODDEF1XXX
\
Kontakt:
\
Bio e Basta GbR
Tel.: 033475145006
Email: basta@posteo.de
Bastaer Straße 10
15324 Letschin
\
Beste Grüße!
Eure Biet-AG
