%section#uploads
  .row
    .col-xs-12.margin-below
      %h1 Dateiuploads

  = form_for(@upload) do |f|


    .panel.panel-default
      .panel-heading
        .panel-title Neue Datei uploaden
      .panel-body
        .row.margin-below
          .col-xs-12.margin-below
            = f.text_field :name, placeholder: 'Name', class: 'form-control'
          .col-xs-12.margin-below
            = f.text_area :description, placeholder: 'Beschreibung', class: 'form-control'
          .col-md-6.margin-below#upload-field
            = f.file_field :file
          .col-md-6.margin-below
            Auch für Accounts von Ernteanteilen sichtbar?
            = f.check_box :public

          .col-xs-12
            = f.submit "Upload", class: "btn btn-success"

- @uploads.each do |upload|
  .panel.panel-default
    .panel-heading
      .panel-title
        = upload.name
        = upload.public ? '' : '(nur Admins)'
    .panel-body
      .row
        .col-md-9
          = upload.description
        .col-md-2{style: 'padding-right: 0'}
          = link_to "/uploads/#{upload.id}/#{File.basename(upload.file.url)}" do
            .btn.btn-info.btn-xs.pull-right Download
        .col-md-1
          = link_to upload_path(upload.id), method: 'delete', data: { confirm: 'WIRKLICH LÖSCHEN?' } do
            .btn.btn-danger.btn-xs.pull-right Delete
