#statistic-modal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Statistik
      .modal-body
        - [@offers_minimum, @offers_medium, @offers_maximum].each do |offers|
          .row
            .col-xs-12
              %h4 Summe
            .col-xs-6
              %b Ist:
              = offers.sum.to_s + '€'
            .col-xs-6
              %b Soll:
              = offers.needed_sum.to_s + '€'
            .col-xs-12
              %h4 Durchschnitt
            .col-xs-6
              %b Ist:
              = offers.average.to_s + '€'
            .col-xs-6
              %b Soll:
              = offers.needed_average.to_s + '€'
            .col-xs-12
              %hr
            .col-xs-12.text-center
              %svg.histogram{class: offers.offer.to_s}

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Schließen

:javascript
  window.offers_minimum = #{@offers_minimum.offers};
  window.offers_medium = #{@offers_medium.offers};
  window.offers_maximum = #{@offers_maximum.offers};
