#statistic-modal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h3.modal-title Statistik
      .modal-body
        %h4
          %b= Share.size_altogether.round(1)
          von
          %b= @settings.total_shares
          Ernteanteile wurden registriert
          %hr
        - [@offers_minimum, @offers_medium, @offers_maximum].each do |offers|
          .row.margin-below
            .col-xs-6
              %b Geboten
            .col-xs-3
              %b Ist:
              %span{class: offers.offer.to_s}
                = offers.total_share_size_with_offers
            .col-xs-3
              %b Soll:
              = @settings.total_shares

          .row.margin-below
            .col-xs-6
              %b Monatliche Summe
            .col-xs-3
              %b Ist:
              %span{class: offers.offer.to_s}
                = offers.monthly_sum.to_s + '€'
            .col-xs-3
              %b Soll:
              = offers.needed_monthly_sum.to_s + '€'

          .row.margin-below
            .col-xs-6
              %b Monatlicher Durchschnitt
            .col-xs-3
              %b Ist:
              %span{class: offers.offer.to_s}
                = offers.monthly_average.to_s + '€'
            .col-xs-3
              %b Soll:
              = offers.needed_monthly_average.to_s + '€'

            .col-xs-12.text-center
              %svg.histogram{class: offers.offer.to_s}
            .col-xs-12
              %hr

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Schließen

:javascript
  window.offers_minimum = #{@offers_minimum.single_offers};
  window.offers_medium = #{@offers_medium.single_offers};
  window.offers_maximum = #{@offers_maximum.single_offers};
