!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=0.7", :name => "viewport"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title CSA Basta
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .loading-overlay
      EINE SEKUNDE BITTE...
    %nav.navbar.navbar-default
      .container
        = render 'layouts/navbar'
    .container.main-container.margin-below
      - flash.each do |type, msg|
        .alert{class: "alert-#{type} flash-message", role: 'alert'}
          = msg
      = yield
      - if @settings.show_statistics || current_admin
        = render 'layouts/statistics'
      - if current_admin
        = render 'layouts/settings'
      = render 'layouts/minimum_participation'

  .coderat
    = mail_to 'info@coderat.cc' do
      = image_tag 'logo_sticker.png', width: 250
    %br
    = mail_to 'info@coderat.cc', 'Fragen, Wünsche, Anregungen?', style: 'color: black;'

    %noscript
      %img{src: "https://matomo.coderat.cc/matomo.php?idsite=3&amp;rec=1", style:"border:0", alt:""}
