!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=0.7", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CSA Basta 
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .loading-overlay
      EINE SEKUNDE BITTE...
    %nav.navbar.navbar-default
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => root_path} CSA BASTA
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a.settings-button Einstellungen
            - if @settings.show_statistics || admin?
              %li
                %a.statistic-button Statistik
            - if current_share
              %li
                = link_to current_share.name, share_path(current_share), class: 'logged-in-with'
              %li
                = link_to 'Abmelden', logout_path, method: :delete, class: 'logged-in-with'
            %li
              = link_to 'Admin', stations_path
    .container.margin-below
      - flash.each do |type, msg|
        .alert{class: "alert-#{type} flash-message", role: 'alert'}
          = msg
      = yield

      - if @settings.show_statistics || admin?
        = render 'layouts/statistics'
      = render 'layouts/settings'
