!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CSA Basta 
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => root_path} CSA BASTA
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
    .container
      - flash.each do |type, msg|
        .alert{class: "alert-#{type} flash-message", role: 'alert'}
          = msg
      = yield
      #form-modal.modal.fade{:role => "dialog"}
